{% extends "allauth/layouts/entrance.html" %}
{% load i18n %}
{% block head_title %}{% trans "Password changed" %}{% endblock %}
{% block content %}
<div class="auth-card">
  <div class="auth-card__wordmark">libli<span class="brand__dot">.</span></div>
  <h1 class="auth-card__title">{% trans "Password changed" %}</h1>
  <p class="auth-card__subtitle">{% trans "Your password has been updated." %}</p>
  <p class="auth-foot"><a href="{% url 'account_login' %}">{% trans "Sign in" %}</a></p>
</div>
{% endblock %}
