{% extends "institution/setup/_wizard.html" %}
{% load i18n %}
{% block wizard_body %}
  <h2 class="setup__panel-title">{% trans "Institution identity" %}</h2>
  <form class="settings__form" method="post" enctype="multipart/form-data"
        action="{% url 'institution:setup_step' 'identity' %}">
    {% csrf_token %}
    {% include "institution/manage/_branding_fields.html" %}
    <div class="setup__nav">
      <a class="btn btn--ghost" href="{% url 'institution:setup' %}">{% trans "Back" %}</a>
      <button class="btn btn--ghost" type="submit" name="action" value="skip">{% trans "Skip" %}</button>
      <button class="btn" type="submit" name="action" value="next">{% trans "Next" context "wizard" %}</button>
    </div>
  </form>
{% endblock %}
