{% load i18n %}
<div class="el el--question" data-question>
  {% if el.stem %}<div class="question__stem">{{ el.stem|safe }}</div>{% endif %}
  {% if element %}
  <form class="question__form" method="post" data-question-inline
        action="{{ action_url }}">
    {% csrf_token %}
    {% include "courses/elements/_choicequestion_options.html" %}
    <button type="submit" class="btn btn--small"
            {% if quiz_submitted or locked %}disabled{% endif %}>{% trans "Check" %}</button>
    <div class="question__feedback" data-question-feedback>
      {% if mode == "quiz" %}{{ feedback_html|safe }}{% elif element.pk == feedback_for_pk %}{% include feedback_partial %}{% endif %}
    </div>
  </form>
  {% endif %}
</div>
